#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class
nbproject/private/
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
target/*

*.NavData

*.war

target/maven-archiver/pom.properties

nb-configuration.xml

target/flight-1.0-SNAPSHOT.war

*.lst
