<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
">
    <context:annotation-config />
    <context:component-scan base-package="com.mycompany.flight" />
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/flight" />
        <property name="username" value="flight" />
        <property name="password" value="password" />
    </bean>
    <!-- HIBERNATE SESSION FACTORY BEAN DEFINITION -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.mycompany.flight.entity.UserEntity</value>
                <value>com.mycompany.flight.entity.RoleEntity</value>
                <value>com.mycompany.flight.entity.CountryEntity</value>
                <value>com.mycompany.flight.entity.CityEntity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
    <!-- BEANS OF THE PROYECT -->
    <bean id="userService" class="com.mycompany.flight.service.UserServiceImpl" ></bean>
    <bean id="countryDAO" class="com.mycompany.flight.dao.CountryDAOImpl" ></bean>
    <bean id="cityDAO" class="com.mycompany.flight.dao.CityDAOImpl" ></bean>
</beans>
